@charset "utf-8";

@use '../lib/global' as g;

.l-inner{
  width: 80%;
  margin: 0 auto;
}

section{
  padding: 5rem 0;
}

h2{
  	font-size: 5rem;
	font-family: "Playfair Display", serif;
	font-weight: 400;
	letter-spacing: 0.5rem;
}