@charset "utf-8";

@use '../lib/global' as g;

/*----------------------------------------------------

	各ページの独自モジュールスタイルのCSS。

	【記述ルール】
	{ ページ名(top, about等) }○○○○

	階層はルートクラスより、三階層までが基本
	【例】
	.top-sec .top-sec__ttl span {
	}
	※CSSに展開した場合

----------------------------------------------------*/

.about{
	  background: linear-gradient(to bottom,
    black 50%,     /* 上から50%までは黒 */
    white 100%     /* 50%から下は白へグラデーション */
  );
	padding-bottom: 21rem;

	p{
		color: #fff;
	}

	h2{
		color: #fff;
	}

	&__pad{
		padding-top: 3rem ;
	}

	&__wrap{
		display: flex;
		flex-direction: row-reverse;
		gap: 10%;
	}

	&__en{
		font-size: 2.4rem;
		font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-style: normal;
		line-height: 1.5;
	}

	&__txt{
		font-size: 1.6rem;
	}

	&__txt-wrap{
		width: 100%;
	}

	&__img{
		width: 100%;
		height: 100%;
		position: relative;
	}

	&__sakura{
		position: relative;
		z-index: 2;
	}

	&__back{
		position: absolute;
		right: 0.5rem;
		bottom: -10em;
		z-index: 1;
	}
}

.practice{
	&__wrap{
		padding-top: 10rem;
	}
}