@charset "utf-8";

@use '../lib/global' as g;

/*----------------------------------------------------

	各ページの独自モジュールスタイルのCSS。

	【記述ルール】
	{ ページ名(top, about等) }○○○○

	階層はルートクラスより、三階層までが基本
	【例】
	.top-sec .top-sec__ttl span {
	}
	※CSSに展開した場合

----------------------------------------------------*/

.about{
	background: #000;
	padding: 0 0 25rem 0 !important;

	p{
		color: #fff;
	}

	h2{
		color: #fff;
	}

	&__pad{
		padding-top: 3rem ;
	}

	&__wrap{
		text-align: center;
		position: relative;
	}

	&__en{
		font-size: 2rem;
		font-family: "Markazi Text", serif;
        font-optical-sizing: auto;
        font-style: normal;
		line-height: 1.5;
	}

	&__ttl{
		padding-top: 5rem;
		}

	&__txt{
		font-size: 1.4rem;
		font-family: "Zen Old Mincho";
	}

	&__txt-wrap{
		width: 100%;
	}

// 	&__ver{
// 		 writing-mode: vertical-rl; /* 右から左に縦書き */
//   text-orientation: mixed;  /* 日本語向けの自然な文字回転 */
// 	}

	&__img{
		width: 50%;
		position: absolute;
		top: 0;
		left: 0;
		animation: floatY 4s ease-in-out infinite;

		 &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 100%;
      height: 100%;
      background-image: url('/assets/images/top/aboutme.png');
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.3;
      filter: blur(8px);
      z-index: -1;
      animation: floatYMirror 4s ease-in-out infinite;
    }
	}

	// ふわふわ
@keyframes floatY {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

// コピーずらす
@keyframes floatYMirror {
  0% { transform: translateY(0); }
  50% { transform: translateY(15px); }
  100% { transform: translateY(0); }
}

}



.practice{


	&__wrap{
		text-align: center;
	}

	&__cont{
		position: relative;
	}

	&__ttl{
		padding-top: 10rem;
		}

		&__moon{
			position: absolute;
			width: 100%;
			height: auto;
			right: -45rem;
			top: 0;
			z-index: 1;
		}

		&__swiper{
			margin-top: 5rem;
			}
}

//
.swiper {
  height: 80vh;
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0;
  animation: fadeIn 5s ease-in forwards;
  color: #fff;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.film-frame {
  position: relative;
  border: 10px solid black;
  padding: 20px;
  background: #111;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.film-frame::before,
.film-frame::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background: repeating-linear-gradient(
    to bottom,
    #222,
    #222 10px,
    #111 10px,
    #111 20px
  );
}

.film-frame::before {
  left: 0;
}

.film-frame::after {
  right: 0;
}