@charset "utf-8";

@use '../lib/global' as g;

/*----------------------------------------------------

	各ページの独自モジュールスタイルのCSS。

	【記述ルール】
	{ ページ名(top, about等) }○○○○

	階層はルートクラスより、三階層までが基本
	【例】
	.top-sec .top-sec__ttl span {
	}
	※CSSに展開した場合

----------------------------------------------------*/

.about{
	background: #000;
	padding-bottom: 20rem;

	p{
		color: #fff;
	}

	h2{
		color: #fff;
	}

	&__pad{
		padding-top: 3rem ;
	}

	&__wrap{
		text-align: center;
		position: relative;
	}

	&__en{
		font-size: 2rem;
		font-family: "Markazi Text", serif;
        font-optical-sizing: auto;
        font-style: normal;
		line-height: 1.5;
	}

	&__ttl{
		padding-top: 5rem;
		}

	&__txt{
		font-size: 1.4rem;
		font-family: "Zen Old Mincho";
	}

	&__txt-wrap{
		width: 100%;
	}

// 	&__ver{
// 		 writing-mode: vertical-rl; /* 右から左に縦書き */
//   text-orientation: mixed;  /* 日本語向けの自然な文字回転 */
// 	}

	&__img{
		width: 50%;
		position: absolute;
		top: 0;
		left: 0;
	}

}


.practice{


	&__wrap{
		text-align: center;
	}

	&__cont{
		position: relative;
	}

	&__ttl{
		padding-top: 10rem;
		}

		&__moon{
			position: absolute;
			width: 100%;
			height: auto;
			right: -45rem;
			top: 0;
		}
}

//
.swiper {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: 40px auto;
}

.swiper-slide {
  background: #B0C1CA;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
